<div class="article-preview">
  <div class="article-meta">
    <div class="info">
      <a [routerLink]="['/profile', article.author.username]">
        <img [src]="article.author.image" class="author-img" />
      </a>
      <div class="author-details">
        <a [routerLink]="['/profile', article.author.username]" class="author">
          {{ article.author.username }}
        </a>
        <span class="date">{{ article.createdAt | date: 'medium' }}</span>
      </div>
    </div>
    <!-- <button *ngIf="article.author.username === (user$ | async)?.username"
          class="btn btn-outline-primary btn-sm pull-xs-right" (click)="deleteArticle(article.slug)">
          <i class="ion-trash-a"></i> Delete Article
        </button> -->
    <div class="actions">
      <button *ngIf="true" class="btn btn-outline-primary btn-sm pull-xs-right me-2">
        <i class="ion-heart"></i> Favorite Post <span class="counter">({{ article.favoritesCount }})</span>
      </button>
      <button *ngIf="true" class="btn btn-outline-danger btn-sm pull-xs-right">
        <i class="ion-trash-a"></i> Delete Article
      </button>
    </div>
  </div>
  <a [routerLink]="['/article', article.slug]" class="preview-link">
    <h1 class="article-title">{{ article.title | ellipsis: 120 }}</h1>
    <p class="article-desc">{{ article.description | ellipsis: 300 }}</p>
    <div class="d-flex justify-content-between">
      <span>Read more...</span>
      <app-article-tags-list [tags]="article.tagList"></app-article-tags-list>
    </div>
  </a>
</div>
