@import "bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@mixin make-container($padding-x: $container-padding-x) {
  width: 100%;
  max-width: 500px;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

.auth-container {
  @include make-container();
}

.app {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
}

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
